/*color*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
:root {
  --color-black:#000000;
  --color-LBlack:#292D30;
  --color-white:#ffffff;
  --color-grey:#e5e5e5;
  --color-Lgrey:#f6f6f6;
  --color-Dgrey:#616060;
  --color-coral:#ff7777;
  --color-Lblue:#C2CAD3;
  --color-Dblue:#858D96;
  --border-grey:#EAEAEB;
  --border-Lgrey: #EBEBEB;
  --border-blue:#E6E6E7;
  --border-color:#C2CAD3;
  --kakao-bg:#F4DC34;
  --kakao-color:#222322;
  --naver-bg:#21C629;
  --naver-color:#ffffff;
  --input-error: #FD7679;
  --tab-color:#F3F5F6;
}

/*responsive mixin*/
/*common mixin*/
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul, ol {
  list-style: none;
}

button, input, select {
  margin: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  padding: 0;
  border-radius: 0;
}

a, a:hover, button {
  color: var(--color-black);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  cursor: pointer;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html, body, * {
  font-family: "Noto Sans KR", sans-serif;
}

a, button {
  /*button color*/
}
a.large-button, button.large-button {
  display: block;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 300;
  background: var(--color-LBlack);
  color: var(--color-white);
  border: 0;
  padding: 0;
  margin: 0;
}
a.large-button:hover, button.large-button:hover {
  color: var(--color-white);
}
a.large-button.height50, button.large-button.height50 {
  height: 50px;
  line-height: 50px;
}
@media (max-width: 768px) {
  a.large-button, button.large-button {
    height: 45px;
    line-height: 43px;
    font-size: 16px;
  }
  a.large-button.height50, button.large-button.height50 {
    height: 40px;
    line-height: 37px;
  }
}
a.middle-button, button.middle-button {
  display: block;
  text-align: center;
  padding: 0 21px;
  height: 40px;
  line-height: 40px;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 768px) {
  a.middle-button, button.middle-button {
    height: 30px;
    line-height: 28px;
    font-size: 12px;
    padding: 0 15px;
  }
}
a.middle-button.height45, button.middle-button.height45 {
  height: 45px;
  line-height: 45px;
}
@media (max-width: 768px) {
  a.middle-button.height45, button.middle-button.height45 {
    height: 35px;
    line-height: 35px;
  }
}
a.small-button, button.small-button {
  display: block;
  text-align: center;
  white-space: nowrap;
  width: 80px;
  height: 31px;
  line-height: 31px;
  padding: 0 18px;
  color: var(--color-white);
  font-size: 12px;
  font-weight: 300;
}
@media (max-width: 768px) {
  a.small-button, button.small-button {
    height: 25px;
    line-height: 23px;
    padding: 0 12px;
  }
}
a.small-button.height35, button.small-button.height35 {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}
@media (max-width: 768px) {
  a.small-button.height35, button.small-button.height35 {
    height: 30px;
    line-height: 28px;
    font-size: 12px;
  }
}
a.black-button, button.black-button {
  background: var(--color-LBlack);
}
a.grey-button, button.grey-button {
  background: var(--color-Lgrey);
  color: var(--color-Dgrey);
}
a.Bgrey-button, button.Bgrey-button {
  background: var(--color-Lgrey);
  color: var(--color-Dgrey);
  border: 1px solid var(--border-color);
}
a.coral-button, button.coral-button {
  background: var(--color-coral);
}
a.white-button, button.white-button {
  background: var(--color-white);
  border: 1px solid var(--color-black);
  color: var(--color-black);
}
a.kakao-button, button.kakao-button {
  background: var(--kakao-bg);
  color: var(--kakao-color);
}
a.naver-button, button.naver-button {
  background: var(--naver-bg);
  color: var(--naver-color);
}

/*button layout*/
.two-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.two-buttons > button,
.two-buttons > a {
  width: 50%;
}

.btn-primary {
  background: var(--color-coral);
  border-color: var(--color-coral);
  -webkit-box-shadow: 0px 3px 6px rgba(255, 119, 119, 0.9882352941);
          box-shadow: 0px 3px 6px rgba(255, 119, 119, 0.9882352941);
}
.btn-primary:hover {
  background: #eb5151;
  border-color: #eb5151;
}

.btn-border {
  border-radius: 1.3rem;
}

.wide-container {
  width: 100%;
  max-width: 100%;
  padding: 0 120px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1650px) {
  .wide-container {
    padding: 0 15px;
  }
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  position: relative;
}

.footer {
  background: #181818;
  padding: 55px 0 35px;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
    margin-top: 80px;
  }
}
@media (max-width: 480px) {
  .footer {
    margin-top: 60px;
  }
}
.footer.no_margin {
  margin-top: 0;
}
.footer__container {
  width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .footer__link {
    display: none;
  }
}
.footer__link--cont {
  margin-right: 200px;
}
@media (max-width: 991px) {
  .footer__link--cont {
    margin-right: 150px;
  }
}
.footer__link--cont:last-child {
  margin-right: 0;
}
.footer__link--cont > a {
  font-size: 16px;
  color: var(--color-white);
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}
.footer__link--cont ul li {
  margin-bottom: 15px;
}
.footer__link--cont ul li:last-child {
  margin-bottom: 0;
}
.footer__link--cont ul li a {
  font-size: 16px;
  color: var(--color-white);
  font-weight: 300;
}
.footer__select {
  width: 250px;
}
@media (max-width: 480px) {
  .footer__select {
    width: 200px;
  }
}
.footer__select select {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 15px 0 20px;
  background: #444444;
  border: #444444;
  color: var(--color-white);
}
@media (max-width: 480px) {
  .footer__select select {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 15px;
    font-size: 12px;
  }
}
.footer__copyright {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #828282;
  color: var(--color-white);
}
@media (max-width: 480px) {
  .footer__copyright {
    font-size: 12px;
  }
}
.footer__etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.footer__etc li {
  position: relative;
  margin-right: 15px;
}
@media (max-width: 480px) {
  .footer__etc li {
    margin-right: 12px;
  }
}
.footer__etc li:last-child::after {
  display: none;
}
.footer__etc li::after {
  content: "";
  width: 1px;
  height: 20px;
  background: #cacaca;
  position: absolute;
  right: -8px;
  top: 3px;
}
@media (max-width: 480px) {
  .footer__etc li::after {
    height: 12px;
    right: -6px;
    top: 6px;
  }
}
.footer__etc li:last-child {
  margin-right: 0;
}
.footer__etc li a {
  color: #CACACA;
}
@media (max-width: 480px) {
  .footer__etc li a {
    font-size: 12px;
  }
}