/*color*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
:root {
  --color-black:#000000;
  --color-LBlack:#292D30;
  --color-white:#ffffff;
  --color-grey:#e5e5e5;
  --color-Lgrey:#f6f6f6;
  --color-Dgrey:#616060;
  --color-coral:#ff7777;
  --color-Lblue:#C2CAD3;
  --color-Dblue:#858D96;
  --border-grey:#EAEAEB;
  --border-Lgrey: #EBEBEB;
  --border-blue:#E6E6E7;
  --border-color:#C2CAD3;
  --kakao-bg:#F4DC34;
  --kakao-color:#222322;
  --naver-bg:#21C629;
  --naver-color:#ffffff;
  --input-error: #FD7679;
  --tab-color:#F3F5F6;
}

/*responsive mixin*/
/*common mixin*/
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul, ol {
  list-style: none;
}

button, input, select {
  margin: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  padding: 0;
  border-radius: 0;
}

a, a:hover, button {
  color: var(--color-black);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  cursor: pointer;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html, body, * {
  font-family: "Noto Sans KR", sans-serif;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .slick-dots {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .slick-dots {
    margin-top: 20px;
  }
}
.slick-dots li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .slick-dots li {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 480px) {
  .slick-dots li {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }
}
.slick-dots li.slick-active {
  background: var(--color-coral);
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li button {
  display: none;
}

.slick_arrow {
  /*
  position:absolute;
  width:calc(100% - 240px);
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:3;

  @include mediaQuery(1650px){
    width:calc(100% - 30px);
  }
  @include mediaQuery(768px){
    top:calc(50% - 50px);
  }
  @include mediaQuery(480px){
    top:calc(50% - 25px);
    width:calc(100% - 15px);
  }
  */
}

a.slick-btn {
  position: absolute;
  top: calc(50% - 100px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}
@media (max-width: 480px) {
  a.slick-btn {
    top: calc(50% - 80px);
  }
}
a.slick-btn.prev {
  left: -45px;
}
@media (max-width: 480px) {
  a.slick-btn.prev {
    left: -20px;
  }
}
a.slick-btn.next {
  right: -45px;
}
@media (max-width: 480px) {
  a.slick-btn.next {
    right: -20px;
  }
}
a.slick-btn.next::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
a.slick-btn.next::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
a.slick-btn::before {
  content: "";
  width: 2px;
  height: 26px;
  background: #000;
  border-radius: 7.5px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -1.5px;
  left: 8px;
}
a.slick-btn::after {
  content: "";
  width: 2px;
  height: 26px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -1.5px;
  left: 8px;
}
@media (max-width: 480px) {
  a.slick-btn {
    width: 10px;
    height: 20px;
  }
  a.slick-btn::before {
    width: 1px;
    height: 13px;
    left: 4px;
  }
  a.slick-btn::after {
    width: 1px;
    height: 13px;
    left: 4px;
  }
}

.wide-container {
  width: 100%;
  max-width: 100%;
  padding: 0 120px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1650px) {
  .wide-container {
    padding: 0 15px;
  }
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  position: relative;
}

/*two__slider*/
.top__slider {
  margin-bottom: 150px;
}
@media (max-width: 768px) {
  .top__slider {
    margin-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .top__slider {
    margin-bottom: 70px;
  }
}
.top__slider h2 {
  font-size: 60px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin-bottom: 100px;
}
@media (max-width: 1800px) {
  .top__slider h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .top__slider h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .top__slider h2 {
    font-size: 28px;
  }
}
.top__slider--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: calc(100% - 100px);
  margin: 0 auto;
}
@media (max-width: 1650px) {
  .top__slider--wrap {
    width: calc(100% - 80px);
  }
}
@media (max-width: 1200px) {
  .top__slider--wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .top__slider--wrap {
    width: calc(100% - 30px);
  }
}
.top__slider--wrap .top__slider-slick {
  width: calc(48% - 25px);
  margin-right: 50px;
}
@media (max-width: 1200px) {
  .top__slider--wrap .top__slider-slick {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
    display: none;
  }
}
@media (max-width: 768px) {
  .top__slider--wrap .top__slider-slick {
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .top__slider--wrap .top__slider-slick .common__slider--img {
    height: auto;
    padding-bottom: 100%;
  }
}
.top__slider--wrap .top__slider-slick .common__slider--img img {
  width: 110%;
  height: auto;
}
@media (max-width: 1400px) {
  .top__slider--wrap .top__slider-slick .common__slider--img img {
    width: 150%;
  }
}
@media (max-width: 1200px) {
  .top__slider--wrap .top__slider-slick .common__slider--img img {
    width: 100%;
  }
}
.top__slider--wrap .thumb__slider-slick {
  position: static;
  width: calc(52% - 25px);
}
.top__slider--wrap .thumb__slider-slick a.slick-btn {
  top: 50%;
}
.top__slider--wrap .thumb__slider-slick .slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.top__slider--wrap .thumb__slider-slick .slick-list {
  margin: 0 -20px;
}
@media (max-width: 1200px) {
  .top__slider--wrap .thumb__slider-slick .slick-list {
    margin: 0 -7.5px;
  }
}
.top__slider--wrap .thumb__slider-slick .slick-slide {
  margin: 0 20px;
}
@media (max-width: 1200px) {
  .top__slider--wrap .thumb__slider-slick .slick-slide {
    margin: 0 7.5px;
  }
}
@media (max-width: 1200px) {
  .top__slider--wrap .thumb__slider-slick {
    width: 100%;
  }
}
.top__slider .common__slider--img {
  position: relative;
  overflow: hidden;
  border-radius: 80px 0 80px 0;
  height: 54vh;
}
@media (max-width: 768px) {
  .top__slider .common__slider--img {
    border-radius: 60px 0 60px 0;
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .top__slider .common__slider--img {
    border-radius: 40px 0 40px 0;
  }
}
.top__slider .common__slider--img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: inherit;
  height: 100%;
}