/*color*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
:root {
  --color-black:#000000;
  --color-LBlack:#292D30;
  --color-white:#ffffff;
  --color-grey:#e5e5e5;
  --color-Lgrey:#f6f6f6;
  --color-Dgrey:#616060;
  --color-coral:#ff7777;
  --color-Lblue:#C2CAD3;
  --color-Dblue:#858D96;
  --border-grey:#EAEAEB;
  --border-Lgrey: #EBEBEB;
  --border-blue:#E6E6E7;
  --border-color:#C2CAD3;
  --kakao-bg:#F4DC34;
  --kakao-color:#222322;
  --naver-bg:#21C629;
  --naver-color:#ffffff;
  --input-error: #FD7679;
  --tab-color:#F3F5F6;
}

/*responsive mixin*/
/*common mixin*/
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul, ol {
  list-style: none;
}

button, input, select {
  margin: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  padding: 0;
  border-radius: 0;
}

a, a:hover, button {
  color: var(--color-black);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  cursor: pointer;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html, body, * {
  font-family: "Noto Sans KR", sans-serif;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .slick-dots {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .slick-dots {
    margin-top: 20px;
  }
}
.slick-dots li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .slick-dots li {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 480px) {
  .slick-dots li {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }
}
.slick-dots li.slick-active {
  background: var(--color-coral);
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li button {
  display: none;
}

.wide-container {
  width: 100%;
  max-width: 100%;
  padding: 0 120px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1650px) {
  .wide-container {
    padding: 0 15px;
  }
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  position: relative;
}

.slider__banner {
  position: relative;
  overflow: hidden;
  padding: 150px 0;
}
@media (max-width: 768px) {
  .slider__banner {
    padding: 100px 0;
  }
}
@media (max-width: 480px) {
  .slider__banner {
    padding: 70px 0;
  }
}
.slider__banner::before {
  content: "";
  width: 100%;
  height: 450px;
  background: var(--color-Lgrey);
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 991px) {
  .slider__banner::before {
    height: 50vw;
  }
}
@media (max-width: 480px) {
  .slider__banner::before {
    height: 250px;
  }
}
.slider__banner .slick-list {
  overflow: hidden;
  margin: 0 -30px;
}
@media (max-width: 991px) {
  .slider__banner .slick-list {
    margin: 0 -15px;
  }
}
.slider__banner .slick-slide {
  position: relative;
  overflow: hidden;
  margin: 0 30px;
  border-radius: 80px 0 80px 0;
}
@media (max-width: 991px) {
  .slider__banner .slick-slide {
    margin: 0 15px;
  }
}
@media (max-width: 768px) {
  .slider__banner .slick-slide {
    border-radius: 60px 0 60px 0;
  }
}
.slider__banner--img {
  display: block;
  width: 100%;
  padding-bottom: 117%;
  position: relative;
}
.slider__banner--img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: inherit;
  height: 100%;
}
.slider__banner--text {
  position: absolute;
  z-index: 1;
  right: 40px;
  text-align: right;
  bottom: 0;
  color: var(--color-white);
  width: 60%;
  height: 40%;
}
@media (max-width: 768px) {
  .slider__banner--text {
    right: 15px;
    width: 80%;
    height: auto;
    bottom: 40px;
    padding: 0 15px;
  }
}
.slider__banner--text-subject {
  font-size: 38px;
  font-weight: bold;
  word-break: keep-all;
}
@media (max-width: 1500px) {
  .slider__banner--text-subject {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .slider__banner--text-subject {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .slider__banner--text-subject {
    font-size: 20px;
  }
}
.slider__banner--text-desc {
  font-size: 16px;
  font-style: italic;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .slider__banner--text-desc {
    font-size: 14px;
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .slider__banner--text-desc {
    font-size: 14px;
    margin-top: 10px;
  }
}