.passwordResetPop{
  .pop_title.center{
    margin-bottom:20px;

    h2{
      text-align:center;

      .point-color{
        color: var(--color-coral);
      }
    }
  }

  .passwordResetPop_content{
    .passwordResetPop--info{
      margin-bottom:25px;
      
      p{
        font-size:14px;
        .bold{
          font-weight:600;
        }
        .point-color{
          color: var(--color-coral);
        }
      }
    }
    .pop_common--input{
      margin-bottom:20px;
      @include mediaQuery(768px){
        margin-bottom:10px;
      }
      &:last-child{
        margin-bottom:0;
      }
    }
    .two-buttons{
      display:flex;
      align-items:center;
      a, button{
        width:calc(50% - 5px);
        margin-right:10px;
        &:last-child{
          margin-right:0;
        }

        &.grey-button{
          background: #ccc;
        }
      }
    }
  }
}